<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>Whisper on the Edge with MicroShift demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    
  </head>
  <body>
    <h1>Whisper on the Edge with MicroShift demo</h1>
    <div id="controls">
  	 <button id="recordButton">Record</button>
  	 <button id="stopButton" disabled>Stop</button>
    </div>
    <div id="should_translate">
      <input type="checkbox" id="translate" name="translate" value="translate">
      <label for="translate">Translate</label>
    </div>
    <div id="formats">Format: start recording to see sample rate</div>
  	<h2>Recordings</h2>
  	<ol id="recordingsList"></ol>
    <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
  	<script src="/static/js/recorder.js"></script>
  	<script src="/static/js/app.js"></script>

    <h3>Additional credits</h3>
    <p>Based on the <a href="https://github.com/addpipe/simple-recorderjs-demo" target="_blank">simple-recorderjs-demo from addpipe.com</a></p>
   <p>This demo uses <a href="https://github.com/mattdiamond/Recorderjs" target="_blank">Recorder.js</a> to record wav/PCM audio directly in the browser. Matt Diamond‘s <a target="_blank" href="https://github.com/mattdiamond/Recorderjs">Recorder.js</a> is a popular JavaScript library for recording audio in the browser as uncompressed pcm audio in .wav containers. Before it, the only way to record audio was to use Flash.</p>
     
  </body>
</html>